<div class="row">
  <div class="col-sm-2">
    <%= link_to t('button.back', page: Character.model_name.human), game_character_path(@game, @character), class: 'btn btn-block btn-dark text-light' %>
  </div>

  <div class="col-sm-8">
    <legend><%= t('legend.editing', model: Status.model_name.human) %></legend>

    <%= form_with(model: @status, url: game_character_status_path(@game, @character, @status), local: true) do |form| %>
      <%= render 'form_errors', status: @status %>
      <%= render 'form_fields', form: form %>
    <% end %>
  </div>

</div>
