<div class="row">
  <div class="col-sm-2">
    <%= link_to t('button.show', page: Note.model_name.human), game_character_note_path(@game, @character, @note),  class: 'btn btn-block btn-dark text-light' %>
    <%= link_to t('button.back', page: Character.model_name.human), game_character_path(@game, @character), class: 'btn btn-block btn-dark text-light' %>
  </div>

  <div class="col-sm-8">
    <legend><%= t('legend.editing', model: Note.model_name.human) %></legend>

    <%= form_with(model: @note, url: game_character_note_url(@game, @character, @note), local: true) do |form| %>
      <%= render 'form_errors', note: @note %>
      <%= render 'form_fields', form: form  %>
    <% end %>
  </div>

</div>
