<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @note.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @note.content %>
</p>

<%= link_to 'Edit', edit_game_character_note_path(@note.character.game, @note.character, @note) %> |
<%= link_to 'Back', game_character_path(@note.character.game, @note.character) %>
