<div class="row">
  <div class="col-md-2 col-xs-12">
    <%= link_to t('button.new', model: Game.model_name.human), new_game_path, class: 'btn btn-success text-light btn-block' %>
    <%= link_to t('button.join', model: Game.model_name.human), games_join_path, class: 'btn btn-primary text-light btn-block' %>
  </div>
  <div class="col-md-4 col-xs-12">
    <legend><%= t('legend.mastered', model: Game.model_name.human.pluralize) %></legend>
    <table class="table table-striped table-hover">
      <thead class="thead-dark">
        <tr>
          <th><%= Game.human_attribute_name("name") %></th>
          <th colspan="3"><%= t('table.options') %></th>
        </tr>
      </thead>

      <tbody>
        <% @mastered_games.each do |game| %>
          <tr>
            <td><%= game.name %></td>
            <td><%= link_to t('table.show'), game %></td>
            <td><%= link_to t('table.edit'), edit_game_path(game) %></td>
            <td><%= link_to t('table.destroy'), game, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="col-md-4 col-xs-12">
    <legend><%= t('legend.played', model: Game.model_name.human.pluralize) %></legend>
    <table class="table table-striped table-hover">
      <thead class="thead-dark">
        <tr>
          <th>Name</th>
          <th colspan="3"><%= t('table.options')%></th>
        </tr>
      </thead>

      <tbody>
        <% @played_games.each do |game| %>
          <tr>
            <td><%= game.name %></td>
            <td><%= link_to t('table.show'), game %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

</div>
