<div class="row">
  <div class="col-sm-2">
    <%= link_to t('button.back', page: Game.model_name.human.pluralize), games_path, class: 'btn btn-block btn-dark text-light' %>
  </div>

  <div class="col-sm-8">
    <legend><%= t('legend.new', model: Game.model_name.human) %></legend>

    <%= form_with(model: @game, url: games_path, local: true) do |form| %>
      <%= render 'form_errors', game: @game %>
      <%= render 'form_fields', form: form %>
    <% end %>
  </div>
</div>
