<div class="row justify-content-center">
  <div class="col-sm-2 col-xs-12">
    <%= link_to t('button.game_rules'), game_rules_path(@game), class: 'btn btn-block btn-dark text-light' %>
    <%= link_to t('button.back', page: Game.model_name.human.pluralize), games_path, class: 'btn btn-block btn-dark text-light' %>

  </div>
  <div class="col-sm-6 col-xs-12">
        <legend>
          <%= @game.name %>
          <small class="pull-right">
            <% if user_is_dm? %>
              <%= Game.human_attribute_name('secret_key') %>: <%= @game.secret_key %>
            <% else %>
               <%= Game.human_attribute_name('dungeon_master') %>: <%= @game.dungeon_master.name %>
            <% end %>
          </small>
        </legend>
        <div class="row">
          <div class="col-12">
            <legend> <%= Character.model_name.human.pluralize %> </legend>
            <table class="table table-striped table-hover">
              <thead class="thead-dark">
                <tr>
                  <th> <%= Character.human_attribute_name('name') %> </th>
                  <th> <%= Character.human_attribute_name('race') %> </th>
                  <th colspan="3"><%= t('table.options') %></th>
                  <% if user_is_dm? %>
                  <th> <%= Character.human_attribute_name('user') %> </th>
                  <% end %>
                </tr>
              </thead>
              <tbody>
                <% if @characters %>
                  <% @characters.each do |c| %>
                  <tr>
                    <td><%= c.name %></td>
                    <td><%= c.race %></td>
                    <td><%= link_to t('table.show'), game_character_path(@game, c) %></td>
                    <td><%= link_to t('table.edit'), edit_game_character_path(@game, c) %></td>
                    <td><%= link_to t('table.delete'), game_character_path(@game, c), method: :delete, data: { confirm: 'Are you sure?' }%></td>
                    <% if user_is_dm? %>
                    <td><%= c.user.name %></td>
                    <% end %>
                  </tr>
                  <% end %>
                <% else %>
                  <%= t('table.none_available', model: Character.model_name.human) %>
                <% end %>
              </tbody>
            </table>
            <%= link_to t('button.new', model: Character.model_name.human), new_game_character_path(@game), class: 'btn btn-success text-light' %>
          </div>
        </div>
  </div>

  <div class="col-sm-4 col-xs-12">
        <legend> Campaign Notes</legend>
        <div>
          <%= link_to t('button.show', model: CampaignNote.model_name.human.pluralize), game_campaign_notes_path(@game), class: 'btn btn-sm btn-dark text-light' %>
          <% if user_is_dm? %>
            <%= link_to 'New Note', new_game_campaign_note_path(@game), class: 'btn btn-sm btn-success text-light' %>
          <% end %>
        </div>
        <br>
        <% if @categories %>
          <% @categories.each do |c| %>
            <div id="accordion" role="tablist">
              <div class="card">
                <div class="card-header" role="tab" id="heading<%= c.id %>">
                  <h5 class="mb-0">
                    <a data-toggle="collapse" href="#collapse<%= c.id %>" aria-expanded="true" aria-controls="collapse<%= c.id %>" class="text-dark">
                      <%= c.name %>
                    </a>
                  </h5>
                </div>

                <div id="collapse<%= c.id %>" class="collapse" role="tabpanel" aria-labelledby="heading<%= c.id %>" data-parent="#accordion">
                  <div class="card-body">
                    <div class="list-group">
                      <% if c.campaign_notes.size > 0 %>
                        <% c.campaign_notes.each do |cnote| %>
                          <%= link_to cnote.title, game_campaign_note_path(@game, cnote), class: 'list-group-item' %>
                        <% end %>
                      <% else %>
                        <%= t('table.none_available', model: CampaignNote.model_name.human.pluralize) %>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        <% else %>
          <%= t('table.none_available', model: Character.model_name.human.pluralize) %>
        <% end %>
    </div>
  </div>
</div>
