<div class="row">
  <div class="col-sm-2">
    <%= link_to t('button.back', page: Game.model_name.human), game_path(@game), class: 'btn btn-block btn-dark text-light' %>
  </div>

  <div class="col-sm-8">
    <legend><%= t('legend.new', model: Character.model_name.human) %></legend>

    <%= form_with(model: @character, url: game_characters_path(@game), local: true, class: 'form-horizontal') do |form| %>
      <%= render 'form_errors', character: @character %>
      <%= render 'form_fields', form: form %>
    <% end %>
  </div>
</div>
