<div class="row">
  <div class="col-sm-2">
    <%= link_to 'Back to Note', game_campaign_note_path(@game, @campaign_note), class: 'btn btn-block btn-dark text-light' %>
    <%= link_to 'Back to Campaign Notes', game_campaign_notes_path(@game), class: 'btn btn-block btn-dark text-light' %>
  </div>

  <div class="col-sm-8">
    <legend>Editing Campaign Note</legend>

    <%= form_with(model: @campaign_note, method: 'patch', url: game_campaign_note_url(@game, @campaign_note), local: true) do |form| %>
      <%= render 'form_errors', campaign_note: @campaign_note %>
      <%= render 'form_fields', form: form %>
    <% end %>
  </div>

</div>
