<div class="row">
  <div class="col-sm-2">
    <%= link_to t('button.show', page: t('model.note')), game_campaign_note_path(@game, @campaign_note), class: 'btn btn-block btn-dark text-light' %>
    <%= link_to t('button.back', page: t('model.campaign_note').pluralize), game_campaign_notes_path(@game), class: 'btn btn-block btn-dark text-light' %>
  </div>

  <div class="col-sm-8">
    <legend><%= t('legend.editing', model: t('model.campaign_note')) %></legend>

    <%= form_with(model: @campaign_note, method: 'patch', url: game_campaign_note_url(@game, @campaign_note), local: true) do |form| %>
      <%= render 'form_errors', campaign_note: @campaign_note %>
      <%= render 'form_fields', form: form %>
    <% end %>
  </div>

</div>
