<p id="notice"><%= notice %></p>

<h1>Campaign Notes</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th>Visible by players</th>
      <th>Dm annotation</th>
      <th>Text</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @campaign_notes.each do |campaign_note| %>
      <tr>
        <td><%= campaign_note.title %></td>
        <td><%= campaign_note.content %></td>
        <td><%= campaign_note.visible_by_players %></td>
        <td><%= campaign_note.dm_annotation %></td>
        <td><%= campaign_note.text %></td>
        <td><%= link_to 'Show', campaign_note %></td>
        <td><%= link_to 'Edit', edit_campaign_note_path(campaign_note) %></td>
        <td><%= link_to 'Destroy', campaign_note, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Campaign Note', new_campaign_note_path %>
