<div class="row">
  <div class="col-sm-2">
    <%= link_to 'Show Game', game_path(@game), class: 'btn btn-block btn-dark text-light' %>
    <%= link_to 'Back to Games', games_path, class: 'btn btn-block btn-dark text-light' %>
  </div>

  <div class="col-sm-8">
    <legend>Editing Game</legend>

    <%= form_with(model: @game, url: game_path(@game), local: true) do |form| %>
      <%= render 'form_errors', game: @game %>
      <%= render 'form_fields', form: form %>
    <% end %>
  </div>
</div>
