<div class="row justify-content-center">
  <div class="col-sm-2 col-xs-12">
    <%= link_to 'Back to Games', games_path, class: 'btn btn-block btn-dark text-light' %>
  </div>
  <div class="col-sm-6 col-xs-12">
        <legend> <%= @game.name %> <small class="pull-right"> Dungeon Master: <%= @game.dungeon_master.name %></small> </legend>
        <div class="row">
          <div class="col-12">
            <legend> Characters </legend>
            <table class="table table-responsive">
              <thead class="thead-inverse">
                <tr>
                  <th> Name </th>
                  <th> Race </th>
                  <th colspan="3">Options</th>
                </tr>
              </thead>
              <tbody>
                <% if @characters %>
                  <% @characters.each do |c| %>
                  <tr>
                    <td><%= c.name %></td>
                    <td><%= c.race %></td>
                    <td><%= link_to 'Show', game_character_path(@game, c) %></td>
                    <td><%= link_to 'Edit', edit_game_character_path(@game, c) %></td>
                    <td><%= link_to 'Delete', game_character_path(@game, c), method: :delete, data: { confirm: 'Are you sure?' }%></td>
                  </tr>
                  <% end %>
                <% else %>
                  No characters available
                <% end %>
              </tbody>
            </table>
            <%= link_to 'New Character', new_game_character_path(@game), class: 'btn btn-success text-light' %>
          </div>
        </div>
  </div>

  <div class="col-sm-4 col-xs-12">
        <legend> Campaign Notes</legend>
        <div>
          <%= link_to 'All Notes', game_campaign_notes_path(@game), class: 'btn btn-sm btn-dark text-light' %>
          <% if user_is_dm? %>
            <%= link_to 'New Note', new_game_campaign_note_path(@game), class: 'btn btn-sm btn-success text-light' %>
          <% end %>
        </div>
        <br>
        <% if @categories %>
          <% @categories.each do |c| %>
            <div id="accordion" role="tablist">
              <div class="card">
                <div class="card-header" role="tab" id="heading<%= c.id %>">
                  <h5 class="mb-0">
                    <a data-toggle="collapse" href="#collapse<%= c.id %>" aria-expanded="true" aria-controls="collapse<%= c.id %>" class="text-dark">
                      <%= c.name %>
                    </a>
                  </h5>
                </div>

                <div id="collapse<%= c.id %>" class="collapse" role="tabpanel" aria-labelledby="heading<%= c.id %>" data-parent="#accordion">
                  <div class="card-body">
                    <div class="list-group">
                      <% if c.campaign_notes.size > 0 %>
                        <% c.campaign_notes.each do |cnote| %>
                          <%= link_to cnote.title, game_campaign_note_path(@game, cnote), class: 'list-group-item' %>
                        <% end %>
                      <% else %>
                        No notes available
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        <% else %>
          No categories avalible
        <% end %>
    </div>
  </div>
</div>
