<div class="row">
  <div class="col-sm-2">
    <%= link_to 'Show Character', game_character_path(@game, @character), class: 'btn btn-block btn-dark text-light' %>
    <%= link_to 'Back to Game', game_path(@game), class: 'btn btn-block btn-dark text-light' %>
  </div>

  <div class="col-sm-8">
    <legend>Editing Character</legend>

    <%= form_with(model: character, url: game_character_path(@game, @character), local: true) do |form| %>
      <%= render 'form_errors', character: @character %>
      <%= render 'form_fields', form: form %>
    <% end %>
  </div>
</div>
