<div class="row">
  <div class="col-sm-2">
    <%= link_to 'Edit Character', edit_game_character_path(@character.game, @character), class: 'btn btn-primary text-light btn-block' %>
    <%= link_to 'Back to Game', game_path(@character.game), class: 'btn btn-dark text-light btn-block' %>
  </div>
  <div class="col-sm-10">
    <div class="row">
      <!-- Column1 -->
      <div class="col-md-4 col-xs-12">
        <legend> <%= @character.name %> </legend>
        <div class="card">
          <%= image_tag @character.avatar.url(:normal), class: "card-img-top" %>
        </div>
        <br>
        <div class="card mb-3">
          <div class="card-header bg-dark text-light">Race</div>
          <div class="card-body">
            <p class="card-text">
              <% if @character.race %>
                <%= @character.race %>
              <% else %>
                No race available
              <% end %>
            </p>
          </div>
        </div>
        <div class="card mb-3">
          <div class="card-header bg-dark text-light">Description</div>
          <div class="card-body">
            <p class="card-text">
              <% if @character.description %>
                <%= @character.description %>
              <% else %>
                No description available
              <% end %>
            </p>
          </div>
        </div>
        <div class="card mb-3">
          <div class="card-header bg-dark text-light">Biography</div>
          <div class="card-body">
            <p class="card-text">
              <% if @character.biography %>
                <%= @character.biography %>
              <% else %>
                No biography available
              <% end %>
            </p>
          </div>
        </div>
      </div>
      <!-- Column2 -->
      <div class="col-md-4 col-xs-12">
        <div class="card mb-3">
          <div class="card-header bg-dark text-light">
            Statuses
            <div class="pull-right"><%= link_to 'Add', new_game_character_status_path(@game, @character) %></div>
          </div>
              <% if @character.statuses %>
                <% @character.statuses.each do |cstatus| %>
                <div class="card-body">
                  <h5 class="card-title">
                    <%= cstatus.name %>
                    <div class="pull-right h6">
                      <%= link_to 'Edit', edit_game_character_status_path(@game, @character, cstatus) %> |
                      <%= link_to 'Delete', game_character_status_path(@game, @character, cstatus), method: :delete, data: { confirm: 'Are you sure?' }%>
                    </div>
                  </h5>
                  <p class="card-text"><%= cstatus.description %></p>
                </div>
                <% end %>
              <% else %>
                No statuses
              <% end %>
        </div>
        <div class="card mb-3">
          <div class="card-header bg-dark text-light">
            Skills
            <div class="pull-right">
              <%= link_to 'Add', new_game_character_skill_path(@game, @character) %>
            </div>
          </div>
          <% if @character.skills %>
            <% @character.skills.each do |cskill| %>
            <div class="card-body">
              <h5 class="card-title">
                <%= cskill.name %>
                <div class="pull-right h6">
                  <%= link_to 'Edit', edit_game_character_skill_path(@game, @character, cskill) %> |
                  <%= link_to 'Delete', game_character_skill_path(@game, @character, cskill), method: :delete, data: { confirm: 'Are you sure?' }%>
                </div>
              </h5>
              <p class="card-text"><%= cskill.description %></p>
            </div>
            <% end %>
          <% else %>
            No skills
          <% end %>
        </div>
        <div class="card mb-3">
          <div class="card-header bg-dark text-light">
            Inventory
            <div class="pull-right">
              <%= link_to 'Add', new_game_character_item_path(@game, @character) %>
            </div>
          </div>
          <% if @character.items %>
            <% @character.items.each do |citem| %>
            <div class="card-body">
              <h5 class="card-title">
                <%= citem.name %> (<%= citem.quantity %>)
                <div class="pull-right h6">
                  <%= link_to 'Edit', edit_game_character_item_path(@game, @character, citem) %> |
                  <%= link_to 'Delete', game_character_item_path(@game, @character, citem), method: :delete, data: { confirm: 'Are you sure?' }%>
                </div>
              </h5>
              <p class="card-text"><%= citem.description %></p>
            </div>
            <% end %>
          <% else %>
            No items
          <% end %>
        </div>
      </div>
      <!-- Column3 -->
      <div class="col-md-4 col-xs-12">
        <div class="card mb-3">
          <div class="card-header bg-dark text-light">
            Traits
            <div class="pull-right">
              <%= link_to 'Add', new_game_character_trait_path(@game, @character) %>
            </div>
          </div>
          <% if @character.traits %>
            <% @character.traits.each do |ctrait| %>
            <div class="card-body">
              <p class="card-text">
                <div class="pull-right h6">
                  <%= link_to 'Edit', edit_game_character_trait_path(@game, @character, ctrait) %> |
                  <%= link_to 'Delete', game_character_trait_path(@game, @character, ctrait), method: :delete, data: { confirm: 'Are you sure?' }%>
                </div>
                <%= ctrait.description %>
              </p>
            </div>
            <% end %>
          <% else %>
            No traits
          <% end %>
        </div>
        <div class="card mb-3">
          <div class="card-header bg-dark text-light">
            Notes
            <div class="pull-right">
              <%= link_to 'Add', new_game_character_note_path(@game, @character) %>
            </div>
          </div>
          <% if @character.notes %>
            <% @character.notes.each do |cnote| %>
            <div class="card-body">
              <h5 class="card-title"><%= link_to cnote.title, game_character_note_path(@character.game, @character, cnote) %></h5>
            </div>
            <% end %>
          <% else %>
            No notes
          <% end %>
        </div>
        <div class="card mb-3">
          <div class="card-header bg-dark text-light">
            Achievements
            <div class="pull-right">
              <%= link_to 'Add', new_game_character_achievement_path(@game, @character) %>
            </div>
          </div>
          <% if @character.achievements %>
            <% @character.achievements.each do |cachievement| %>
            <div class="card-body">
              <h5 class="card-title">
                <%= cachievement.name %>
                <div class="pull-right h6">
                  <%= link_to 'Edit', edit_game_character_achievement_path(@game, @character, cachievement) %> |
                  <%= link_to 'Delete', game_character_achievement_path(@game, @character, cachievement), method: :delete, data: { confirm: 'Are you sure?' }%>
                </div>
              </h5>
              <p class="card-text"><%= cachievement.description %></p>
            </div>
            <% end %>
          <% else %>
            No achievements
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
