<div class="row">
  <div class="col-sm-2">
    <%= link_to t('button.back', page: CampaignNote.model_name.human.pluralize), game_campaign_notes_path(@game), class: 'btn btn-block btn-dark text-light' %>
  </div>

  <div class="col-sm-8">
    <legend><%= t('legend.editing', model: Category.model_name.human) %></legend>

    <%= form_with(model: @category, url: game_category_path(@game, @category), local: true) do |form| %>
      <%= render 'form_errors', category: @category %>
      <%= render 'form_fields', form: form %>
    <% end %>
  </div>

</div>
